{% extends "ui/base.html" %}
{% block title %}Conceptual Orchestration UI{% endblock %}

{% block content %}
<div class="wf">

  <!-- looks like the blank top bar in the slides -->
  <div class="wfTopBar" aria-hidden="true"></div>

  <div class="wfShell">
    <!-- left nav (always visible like the slides) -->
    <nav class="wfNav" aria-label="Steps">
      <button class="wfNavItem" data-open="host" type="button">
        <span class="wfDiamond"></span>
        <span class="wfNavLabel">Provision<br>Host</span>
      </button>

      <button class="wfNavItem" data-open="cse" type="button">
        <span class="wfDiamond"></span>
        <span class="wfNavLabel">Add CSE</span>
      </button>

      <button class="wfNavItem" data-open="ae" type="button">
        <span class="wfDiamond"></span>
        <span class="wfNavLabel">Deploy<br>AE</span>
      </button>
    </nav>

    <!-- main area defaults to Topology (like slide 17) -->
    <main class="wfMain">
      <div class="wfMainInner">
        <div class="wfStatus" id="wfStatus">Topology view</div>

        <div class="wfTopoCanvas">
          <!-- SVG lines to look like the drawn tree -->
          <svg class="wfTopoSvg" viewBox="0 0 1000 520" preserveAspectRatio="none" aria-hidden="true">
            <path d="M500 170 C500 260 500 260 500 300" />
            <path d="M500 300 C380 300 380 300 320 360" />
            <path d="M500 300 C620 300 620 300 680 360" />
          </svg>

          <div class="wfNode wfNodeRoot" id="nodeRoot">
            <div class="wfNodeText" id="nodeRootText">
              <div>Local Host</div>
              <div>IN-CSE</div>
              <div>orchestration AE</div>
            </div>
          </div>

          <div class="wfNode wfNodeLeaf" id="nodeLeft">
            <div class="wfNodeText" id="nodeLeftText">
              <div>rPI</div>
              <div>MN-CSE</div>
              <div>sample AE</div>
            </div>
          </div>

          <div class="wfNode wfNodeLeaf" id="nodeRight">
            <div class="wfNodeText" id="nodeRightText">
              <div>rPI</div>
              <div>MN-CSE</div>
              <div>sample AE</div>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<!-- Modal (popup) -->
<div class="wfModal" id="wfModal" aria-hidden="true">
  <div class="wfModalPanel" role="dialog" aria-modal="true" aria-label="Orchestration step">
    <div class="wfModalHeader">
      <div class="wfModalTitle" id="wfModalTitle">Step</div>
      <button class="wfX" type="button" id="wfClose" aria-label="Close">✕</button>
    </div>

    <div class="wfModalBody" id="wfModalBody"></div>

    <div class="wfModalFooter">
      <button class="wfFooterBtn wfFooterBtnPrimary" type="button" id="wfBackToTopo" disabled>
        Back to Topology
      </button>
      <button class="wfFooterBtn" type="button" id="wfJustClose">Close</button>
    </div>
  </div>
</div>

<!-- Host screen -->
<template id="tplHost">
  <div class="wfScreen">
    <div class="wfParam wfParamRed">
      <div class="wfParamTitle">parameter of the HOST PLATFORM</div>

      <div class="wfLines">
        <div class="wfLine">
          <span class="wfLineLabel">IP Address :</span>
          <input class="wfLineInput" name="host_ip" type="text" placeholder="" />
        </div>
        <div class="wfLine">
          <span class="wfLineLabel">Port :</span>
          <input class="wfLineInput" name="host_port" type="text" placeholder="" />
        </div>
        <div class="wfLine">
          <span class="wfLineLabel">... :</span>
          <input class="wfLineInput" name="host_extra" type="text" placeholder="" />
        </div>
      </div>
    </div>

    <aside class="wfSide">
      <div class="wfBox wfBoxGreen">
        <ol class="wfList">
          <li><button class="wfAction" data-action="deploy_local" type="button">Deploy Local *</button></li>
          <li><button class="wfAction" data-action="deploy_remote" type="button">Deploy Remote Platform *</button></li>
          <li><button class="wfAction" data-action="deploy_vm" type="button">Deploy VM</button></li>
          <li><button class="wfAction" data-action="deploy_cloud" type="button">Deploy Cloud</button></li>
        </ol>
      </div>

      <div class="wfBox wfBoxGreen">
        <ol class="wfList">
          <li>perhaps add new item for VPN</li>
        </ol>
      </div>
    </aside>
  </div>
</template>

<!-- CSE screen -->
<template id="tplCSE">
  <div class="wfScreen">
    <div class="wfParam wfParamRed">
      <div class="wfParamTitle">parameter of the CSE</div>

      <div class="wfLines">
        <div class="wfLine">
          <span class="wfLineLabel">CSE Name</span>
          <input class="wfLineInput" name="cse_name" type="text" placeholder="" />
        </div>
      
        <div class="wfLine">
          <span class="wfLineLabel">Port :</span>
          <input class="wfLineInput" name="cse_port" type="text" placeholder="" />
        </div>
      
        <div class="wfLine">
          <span class="wfLineLabel">... </span>
          <input class="wfLineInput" name="cse_extra" type="text" placeholder="" />
        </div>
      </div>
    </div>

    <aside class="wfSide">
      <div class="wfBox wfBoxGreen">
        <ol class="wfList">
          <li><button class="wfAction" data-action="deploy_cse_acme" type="button">Deploy CSE ACME *</button></li>
          <li><button class="wfAction" data-action="deploy_mobius" type="button">Deploy Mobius</button></li>
        </ol>
      </div>
    </aside>
  </div>
</template>

<!-- AE screen (kept same “wireframe style”; deploy list can be edited later) -->
<template id="tplAE">
  <div class="wfScreen">
    <div class="wfParam wfParamRed">
      <div class="wfParamTitle">parameter of the AE</div>

      <div class="wfLines">
        <div class="wfLine">
          <span class="wfLineLabel">AE Name</span>
          <input class="wfLineInput" name="ae_name" type="text" placeholder="" />
        </div>
        <div class="wfLine">
          <span class="wfLineLabel">... </span>
          <input class="wfLineInput" name="ae_extra" type="text" placeholder="" />
        </div>
      </div>
    </div>

    <aside class="wfSide">
      <div class="wfBox wfBoxGreen">
        <ol class="wfList">
          <li><button class="wfAction" data-action="deploy_sample_ae" type="button">Deploy Sample AE *</button></li>
          <li><button class="wfAction" data-action="deploy_other_ae" type="button">Deploy Other AE</button></li>
        </ol>
      </div>
    </aside>
  </div>
</template>

{% endblock %}
